@import "../../../../styles/variables.scss";
.buttons_city{
  margin-top: 8px;
  padding: 2px;
  display: flex;

  .button{
    @include button-style();
  }

  .button:hover{
    background: $base-color;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
  .button{
    &.active{
      background: $base-color;
    }
  }
}